<h1>Produtos</h1>
<br>

<p><%= notice %></p>
<p><%= alert %></p>
<br>

<% @item.each do |it| %>
	<p> Nome: <%= it.nome %></p>
	<p> Valor: <%= it.price %> </p>
	<p> Quantidade: <%= it.quantity %> </p>
	<%= link_to "(Excluir produto)", destroy_item_path(id: it.id), method: :delete,
	data: { confirm: "Tem certeza que deseja excluir?"} %> 
	<br><br>
<% end %>