<h1> Fale conosco </h1>
<br>

<%= image_tag "coffee.JPG", alt: "cafés aesthetic" %>
<p><%= notice %></p>
<p><%= alert %></p>
<br>


<%= form_for @contact, url: :contact, method: :post do |form| %> 
	<% if @contact.errors.any? && @contact.errors[:name] %>
		<%= form.label "Nome #{@contact.errors[:name].first}" %>
	<% else %>
		<%= form.label "Nome" %>
	<% end %>
	<%= form.text_field :name %>
	<br>

	<% if @contact.errors.any? && @contact.errors[:email] %>
		<%= form.label "Email #{@contact.errors[:email].first}" %>
	<% else %>
		<%= form.label "Email" %>
	<% end %>
	<%= form.text_field :email %>
	<br>

	<% if @contact.errors.any? && @contact.errors[:subject] %>
		<%= form.label "Assunto #{@contact.errors[:subject].first}" %>
	<% else %>
		<%= form.label "Assunto" %>
	<% end %>
	<%= form.text_field :subject %>
	<br>

	<% if @contact.errors.any? && @contact.errors[:description] %>
		<%= form.label "Descrição #{@contact.errors[:description].first}" %>
	<% else %>
		<%= form.label "Descrição" %>
	<% end %>
	<%= form.text_field :description %>
	<br>

	<%= form.submit "Enviar" %>
<% end %>