<header class="menu">
		<div class="menu-container">
		<%= link_to root_url do %>
			<%= image_tag "brafe.png", alt: "Brafé" %></a>
			<% end %>
			<nav class="menu-nav">
				<ul>
					<li> <%= link_to "Sobre", about_path %> </li>
					<li><%= link_to "Produtos", items_path %></li>
					<li><a href="#">Portfólio</a></li>
					<li><%= link_to "Contato", contact_path %></li>
					<li><%= link_to "Junte-se", join_path %></li>
				</ul>
			</nav>
		</div>
	</header>