<!DOCTYPE html>
<html>
  <head>
    <title>Treinamento2018</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="Diretamente das fazendas de Minas Gerais, a Brafé vem trazendo há mais de 50 anos as melhores experiências no ramo cafeeiro."/>
	<meta name="robots" content="index,follow"/>
	<meta name="keywords" content="cafe, cafeina, brafe, brasil, grao, cafeeiro"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
