<h1> Junte-se a nós </h1>
<br>

<p><%= notice %></p>
<p><%= alert %></p>
<br>

<p> Ficamos felizes com o seu interesse em se juntar à Brafé! 
	<br> Por favor preencha o formulário abaixo para prosseguir.</p>


<%= form_for @applicant, url: :join, method: :post do |form| %> 
	<% if @applicant.errors.any? && @applicant.errors[:name] %>
		<%= form.label "Nome Completo #{@applicant.errors[:name].first}" %>
	<% else %>
		<%= form.label "Nome Completo" %>
	<% end %>
	<%= form.text_field :name %>
	<br>

	<% if @applicant.errors.any? && @applicant.errors[:email] %>
		<%= form.label "E-mail #{@applicant.errors[:email].first}" %>
	<% else %>
		<%= form.label "E-mail" %>
	<% end %>
	<%= form.number_field :email %>
	<br>

	<% if @applicant.errors.any? && @applicant.errors[:telephone] %>
		<%= form.label "Telefone #{@applicant.errors[:telephone].first}" %>
	<% else %>
		<%= form.label "Telefone" %>
	<% end %>
	<%= form.number_field :telephone %>
	<br>

	<% if @applicant.errors.any? && @applicant.errors[:position] %>
		<%= form.label "Área de atuação #{@applicant.errors[:position].first}" %>
	<% else %>
		<%= form.label "Área de atuação" %>
	<% end %>
	<%= form.number_field :position %>
	<br>

	<% if @applicant.errors.any? && @applicant.errors[:bio] %>
		<%= form.label "Bio #{@applicant.errors[:bio].first}" %>
	<% else %>
		<%= form.label "Conte-nos sobre você e seu interesse na Brafé" %>
	<% end %>
	<%= form.number_field :bio %>
	<br>
	<%= form.submit "Junte-se" %>
<% end %>